@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prim: #0b2039;
  --prim-light: #a3afbd;
  --second: #67819e;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(90deg, #002e5d, #002e5d, #2774ae);

  --Unbounded: 'Unbounded', sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Unbounded {
  font-family: var(--Unbounded);
}