@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap-icons/font/bootstrap-icons";
@import 'remixicon/fonts/remixicon.css';

:root{
  --prim: #0b2039;
  --prim-light: #a3afbd;
  --second: #0f61be;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(90deg, #002e5d, #002e5d, #2774ae);

  --Unbounded: 'Unbounded', sans-serify;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  .Unbounded {
    font-family: var(--Unbounded);
  }
}